// colors
$font-colour-dark: #333;
$font-colour-light: #fff;
$font-colour-warning: #800;
$background-light: #eee;
$background-dark: #222;

$button-colour: blue;
$button-text-colour: white;

$warning-highlight: #ffffcc;
$ok-highlight: #ccffcc;